.setting-item-child {
    background-color: var(--background-secondary);
    padding-left: 1em;
    padding-right: 1em;
    border-top: 0.5px solid var(--background-primary);
    /* animation: child-enter 0.3s ease; */
}

@keyframes child-enter {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.wide-text-area > .setting-item-info, .wide-text-area > .setting-item-description {
    flex: 0.3 1 auto;
}
.height10-text-area textarea {
    width: 100%;
    height: 10em;
}
.height20-text-area textarea {
    width: 100%;
    height: 20em;
}